In [1]:
x = (1, 'a', 2, 'b')
type(x)

tuple

In [2]:
x = [1, 'a', 2, 'b']
type(x)

list

In [3]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

In [4]:
[1,2] + [3,4]

[1, 2, 3, 4]

In [5]:
[1]*3

[1, 1, 1]

In [6]:
1 in [1, 2, 3]

True

In [7]:
x = 'This is a string'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #first two characters

T
T
Th

In [8]:
x[-1:-1]

''

In [9]:
x[-4:-2]

'ri'

In [10]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname*3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

In [11]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0] # [0] selects the first element of the list
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(lastname)

Christopher
Brooks

In [12]:
'Chris' + str(2)

'Chris2'

In [13]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks'] # Retrieve a value by using the indexing operator

'brooksch@umich.edu'

In [14]:
x['Kevyn Collins-Thompson'] = None
x

{'Bill Gates': 'billg@microsoft.com',
 'Christopher Brooks': 'brooksch@umich.edu',
 'Kevyn Collins-Thompson': None}

In [15]:
for name in x:
    print(x[name])

brooksch@umich.edu
billg@microsoft.com
None

In [16]:
for email in x.values():
    print(email)

brooksch@umich.edu
billg@microsoft.com
None

In [17]:
for name, email in x.items():
    print(name)
    print(email)

Christopher Brooks
brooksch@umich.edu
Bill Gates
billg@microsoft.com
Kevyn Collins-Thompson
None

In [18]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x
print(fname)
print(lname)
print(email)

Christopher
Brooks
brooksch@umich.edu

In [19]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96